@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "RedHatText", sans-serif;
}

.overflow-y-auto {
  overflow-y: auto;
  padding-right: 10px;
  scrollbar-width: thin;
  scrollbar-color: #c4c4c4 #f1f1f1;
}

.overflow-y-auto::-webkit-scrollbar {
  width: 8px;
}

.overflow-y-auto::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.overflow-y-auto::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 4px;
  border: 2px solid #f1f1f1;
}

.outline{
  outline: none !important;;
}